.vscode/sftp.json
full_cohort_for_paper.xlsx
workflow/privacy.py
manhattan.html
locuszoom-aFTLD-U.tsv.gz
notebooks/privacy.py
notebooks/__pycache__/privacy.cpython-310.pyc
scripts/privacy.py
manhattan-regenie.html
qq_plot_main.html
gwas-regenie-summary.tsv.gz
qq_plot_main.png
qq_plot_conditional.html
manhattan_conditional.html
qq_plot_conditional.png
